.list {
  @apply m-auto mb-8 flex max-w-2xl flex-wrap justify-center gap-4;
}
.link {
  @apply inline-flex items-center rounded-full border-2 px-2 py-2 text-sm font-bold uppercase transition duration-300 ease-in-out;
  @apply border-red-300 dark:border-neutral;
}
.link:hover {
}
.link:hover .icon {
  @apply scale-125 transform opacity-100;
}

.icon {
  @apply mr-2 w-6 rounded-full opacity-50 transition-all duration-300;
}

.icon-javascript:hover {
  border-color: var(--color-javascript);
}
.icon-typescript:hover {
  border-color: var(--color-typescript);
}
.icon-html:hover {
  border-color: var(--color-html);
}
.icon-css:hover {
  border-color: var(--color-css);
}
.icon-node:hover {
  border-color: var(--color-node);
}
.icon-react:hover {
  border-color: var(--color-react);
}
.icon-next-js:hover {
  border-color: var(--color-next);
  color: var(--color-next);
}

.count {
  width: 20px;
  height: 20px;
  @apply ml-2 flex items-center justify-center rounded-full bg-gray-600 p-2 text-xs text-gray-200 transition duration-300 ease-in-out;
}
.count:hover {
  @apply bg-gray-500;
}

.link.icon-javascript:hover .count {
  @apply text-gray-500;
  background-color: var(--color-javascript);
}
.link.icon-typescript:hover .count {
  background-color: var(--color-typescript);
}
.link.icon-node:hover .count {
  background-color: var(--color-node);
}
.link.icon-css:hover .count {
  background-color: var(--color-css);
}
.link.icon-html:hover .count {
  background-color: var(--color-html);
}
.link.icon-react:hover .count {
  background-color: var(--color-react);
}
.link.icon-next-js:hover .count {
  background-color: var(--color-next);
}
